__pycache__/
*.py[cod]
.ipynb_checkpoints/

.env
.env.*
!.env.example

*.csv
*.json
*.jsonl
*.pt
*.pth
*.ckpt
*.bin
*.safetensors
*.png
*.jpg
*.jpeg
*.gif

audio/
docker_build/
conda_envs/
chatbot/
gaia/
llm/
MusTBench/
QASC/
reproduce/
StrategyQA/

trained_models/
inference_results/
results/
run_logs/
